<div class="col-md-12 title">{{gene}}</div>

<div class="col-md-12 process">{{process}}</div>

<div class="col-md-12 function">{{gene_function}}</div>

<div class="col-md-6 miniTitle">
    Pvalue
</div>
                
<div class="col-md-6">{{pvalue}}</div>

<div class="col-md-6 miniTitle">
    Log2 fold change
</div>
                
<div class="col-md-6">{{log2}}</div>